<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div id="character">140 character left</div>
  <div class="field">
    <%= f.text_area :content, :onkeyup =>'charleft()', placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>